@import url('http://fonts.cdnfonts.com/css/baloo-da');

html {
    background-color: #C8C8C8;
}
.svg-settings {
    height: 30px;
    width: 30px;
    float: left;
}
.svg-info {
    height: 30px;
    width: 30px;
    float: right;
}

.svg-disc {
    height: 60px;
    width: 60px;
    float: right;
}

.setting-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 15px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
padding: 10px;
}

.info-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 15px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
float: right;
padding: 10px;
}

.time-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 15px;
margin-left: 55px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
padding: 10px;
}

.navigation {
    box-sizing: border-box;
    
    top: 3%;
    height: 75px;
    width: 874px;

    background: #824242;
    border: 3px solid #000000;
    box-shadow: 10px 9px 4px 5px rgba(10, 5, 75, 0.25);
    float: center;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-wrap {
    float: center;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


a {
    text-decoration: none;
}

.sidebar-1 {
    width: 246px;
    height: 100%;
    background: #3D8DAF;
}

.sidebar-2 {
    width: 246px;
    height: 100%;
    background: #3D8DAF;
}

.align-prop {
    display: flex;
    float: left;
    justify-content: left;

}

.align-prop-1 {
    display: flex;
    float: right;
    justify-content: right;

}

.center-main {
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-main.side-title {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 48px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
color: #FFFFFF;
}

.side-text {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 36px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: #000900;
}

.github-logo {
    height: 60px;
    width: 60px;
}

.github-text {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 36px;
padding: 2px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}

.github-box {
    border: 5px solid #000000;
}

.gba-emu-tile {
    width: 260px;
    height: 138px;
    background: #6BA263;
    border: 3px solid #000000;
}


.gba-tile-wrap {
}


.nes-emu-tile {
    width: 260px;
    height: 138px;
    background: #B54C4C;
    border: 3px solid #000000;
}


.wrapper-tile {
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tile-text {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #000000;
-ms-transform: translateY(80%);
transform: translateY(80%);
text-decoration: underline;
}

.display-wrapper-1 .gba-tile-wrap {
    float: left;

    clear: none;
}
.gba-tile-wrap {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gba-emu-tile-1 {
    width: 260px;
    height: 138px;
    background: #6BA263;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
}


.gba-tile-wrap-1 {
}


.nes-emu-tile {
    width: 260px;
    height: 138px;
    background: #B54C4C;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));

}

.sega-emu-tile-1 {
    width: 260px;
    height: 138px;
    background: #6480AB;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(14, 35, 107, 0.25));
}

.more-emu-tile {
    width: 260px;
    height: 138px;
    background: #BACF64;
    border: 3px solid #000000;  
    filter: drop-shadow(8px 10px 4px rgba(136, 138, 22, 0.25));
}


.wrapper-tile-1 {

}

.tile-text-1 {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #000000;
-ms-transform: translateY(80%);
transform: translateY(80%);
text-decoration: underline;
}

.center-please {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 50px;
}

@media only screen and (max-width: 1200px) {
    .center-please {
        margin: auto;
        width: 50%;
        padding-left: 100px;
    }
    body {
        color: red;
    }
    .center-main.side-title {
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* identical to box height */
    
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    .setting-nav {
        display: flex;
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 15px;
    /* identical to box height */
    
    float: left;
    text-align: center;
    
    color: #FFFFFF;
    padding: 10px;
    }
    
    .info-nav {
        display: flex;
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 15px;
    /* identical to box height */
    
    float: left;
    text-align: center;
    
    color: #FFFFFF;
    float: right;
    padding: 10px;
    }
    .gba-emu-tile-1 {
        width: 150px;
        height: 60px;
        background: #6BA263;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
    }
    
    
    .nes-emu-tile {
        width: 150px;
        height: 60px;
        background: #B54C4C;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));
    
    }
    
    .sega-emu-tile-1 {
        width: 150px;
        height: 60px;
        background: #6480AB;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(14, 35, 107, 0.25));
    }
    
    .more-emu-tile {
        width: 150px;
        height: 60px;
        background: #BACF64;
        border: 3px solid #000000; 
        filter: drop-shadow(8px 10px 4px rgba(136, 138, 22, 0.25)); 
    }

    .gba-emu-tile {
        width: 150px;
        height: 60px;
        background: #6BA263;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
    }
    
    
    .nes-emu-tile {
        width: 150px;
        height: 60px;
        background: #B54C4C;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));
    }

    .tile-text-1 {
        font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    -ms-transform: translateY(35%);
    transform: translateY(35%);
    text-decoration: underline;
    }
    .tile-text {
        font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    -ms-transform: translateY(35%);
    transform: translateY(35%);
    text-decoration: underline;
    }
  }