
*{
    transition-duration: 0.4s;
   }

   ::-webkit-scrollbar {
	width: 9px;
	border-radius: 10px;;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
  }

    h1 {
        color: var(--heading-color);
    }
    main {
        border:5px red solid; 
        border-radius:25px; 
        background: var(--background-color);
            }
        html {
            text-align: center;
            scroll-behavior: smooth;
        }
    body {
        font-family: sans-serif;
         background: var(--bg-color);
         color: var(--font-color);
        }
    li {
        font-size: 16px;
        padding: 10px;
    }
    ul {
        list-style-position: inside;
    }

@media (max-width: 750px) {
    html {
         padding: .8em;
         text-align: center;
         line-height: 30px;
          }      
        }

          a {
            color: var(--primary-color); 
          }








          nav {
            display: flex;
            justify-content: flex-end;
            padding: 5px 0;
            margin-top: 5px;
          }



          .theme-switch-wrapper {
            display: flex;
            align-items: center;
          }
            .buttext {
              background-color: black;
              margin-left: 10px;
              font-size: 20px;
              border-radius: 20px;
              padding: 10px;
            }
          
          .theme-switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
          }
          
          .theme-switch input {
            display:none;
          }
          
          .slider {
            background-color: rgb(122, 66, 66);
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
          }
          
          .slider:before {
            background-color: #fff;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
          }
          
          input:checked + .slider {
            background-color: #66bb6a;
          }


          .search-box{
            position: relative;
            text-align: center;
            float: center;
          }
          .input-search{
            height: 50px;
            width: 70%;
            border-style: none;
            padding: 10px;
            font-size: 18px;
            letter-spacing: 2px;
            outline: none;
            border-radius: 25px;
            transition: all .5s ease-in-out;
            background-color: #0d4045;
            color:rgb(235, 230, 230);
            float: center;
          }
          .input-search::placeholder{
            color:rgba(255,255,255,.5);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
          }
          .btn-search{
            width: 70%;
            height: 50px;
            border-style: none;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            
            border-radius: 50%;
            position: absolute;
            right: 0px;
            color:#575353 ;
            background-color:transparent;
            pointer-events: painted;  
            float: center;
          }
          .btn-search:focus ~ .input-search{
            width: 80%;
            border-radius: 0px;
            background-color: transparent;
            border-bottom:1px solid rgba(67, 64, 64, 0.5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
          }
          .input-search:focus{
            width: 80%;
            border-radius: 0px;
            background-color: #474545;
            border-bottom:1px solid rgba(79, 76, 76, 0.5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
          }



          
          .menu {
            display:inline-block;
            margin:0 -.5em 1.5em;
            box-shadow:0.12em 0.12em 0 rgba(40,40,40,.2);
            list-style-type:none;
            padding:0;
            margin:0;
            font-size:1em;
            margin-bottom:1.5em;
          }
          
          .menu a {
            display:block;
            padding:0 1em;
            line-height:2.5em;
            position:relative;
            font-weight:bold;
            text-decoration:none;
            color: black;
            background-color: var(--primary-color);
            text-shadow: var(--secondary-color);
          }
          
          .menu a:hover, .menu a:active, .menu a:focus {
            color:#eee;
            text-shadow:0.063em 0.063em 0 #547177;
          }
          
          .menu a[data-bubble]:after {
            content:attr(data-bubble);
            position:absolute;
             top:0;
            right:0.5em;
            height:1.5em;
            line-height:1.5em;
            padding:0 .46em;
            text-align:center;
            text-shadow:0 0.063em 0 rgba(0,0,0,.2);
            background-color:#eee;
            color:#364652;
            box-shadow:0 0.063em 0.063em rgba(0,0,0,.2);
            border-radius:4em;
            z-index:-1;
            -webkit-transform: translateZ(0);/*Prevents text flicker*/
            will-change: transform;
          }
          
          a.gold[data-bubble]:after {
            background-color:gold;
          }
          
          .menu a:hover[data-bubble]:after, .menu a:active[data-bubble]:after, .menu a:focus[data-bubble]:after {
            -webkit-animation:ease bubbleover .4s;
            animation:ease bubbleover .4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            top:-1.25em; /* If pseudo animation not supported [see https://css-tricks.com/transitions-and-animations-on-css-generated-content/], simple hover fallback happens*/
            z-index:1;
          }
          
          @-webkit-keyframes bubbleover {
            0%   {
              -webkit-transform:translate(0, 1em);
              z-index:-1
              }
            50% {
              -webkit-transform:translate(0, -.5em);
              z-index:-1
            } 
            100% {
              -webkit-transform:translate(0, 0);
              z-index:1;
              }
          }
          
          @keyframes bubbleover {
            0%   {
              top:0;
              transform:translate(0, 0);
              z-index:-1;
              }
            50% {
              transform:translate(0, -12px);
              z-index:-1
              } 
            100% {
              transform:translate(0, 6px);
              z-index:1;
              }
          }


          .gameplayer-2 {
              position: fixed;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: rgba(51,51,51,0.7);
              z-index: 10;
          }